
@model registerValidData

@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - TodoList</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TodoList.styles.css" asp-append-version="true" />
</head>
<style>
    .container {
        position: relative;
        height: 100vh;
    }

    main {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

</style>
<body>

    

    <div class="container">
        <main role="main" class="w-50">
            <h4 align="center">Sign-up form</h4>

            @if (TempData["error"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @TempData["error"]
                </div>
            }

            <form asp-action="Signup" asp-controller="User" class="form" method="post">
                name: <input type="text" name="Name" value="@Model.Name" class="form-control" />
                email: <input type="email" name="Email" value="@Model.Email" class="form-control" />
                password: <input type="password" name="Password" value="@Model.Password" class="form-control" />
                phone: <input type="text" name="Phone" value="@Model.Phone" class="form-control" />
                <input type="submit" name="submit" value="Sign-up" class="btn btn-success mt-1" />
            </form>

            <a asp-controller="User" asp-action="Index">Log-in</a>

        </main>
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
